/* Reset default margin and padding for the ul element */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav {
    background-color: rgb(255, 255, 255); /* Set the background color of the navbar */
}

.navbar {
    display: flex;
    align-items: top;
    padding: 10px;
    justify-content: start;
}

.navbar .logo {
    color: rgb(0, 0, 0);
    font-size: 24px;
    
}

.navbar .nav-links {
    display: flex;
    align-items: top;
}

.navbar .nav-links li {
    margin: 0 30px;
}

.navbar .nav-links a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

.menu-icon {
    display: none;
    color: #000000;
    font-size: 24px;
    cursor: pointer;
}

/* Add responsive styles for smaller screens */
@media screen and (max-width: 600px) {
    .navbar .nav-links {
        display: none;
        flex-direction: column;
        background-color: #000000;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
    }

    .navbar .nav-links.show {
        display: flex;
    }

    .navbar .menu-icon {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
    }
}
